%p#notice= notice

%h1= @venue.name


%p
  %b Phone:
  = @venue.phone

%p= @venue.address


%h4= "#{@venue.shows.count} shows"
- @venue.shows.each do |show|
  %pre= debug show

- link_to 'Edit', edit_venue_path(@venue) 
|
= link_to 'Back', venues_path
