<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @food.name %>
</p>

<p>
  <b>Address:</b>
  <%= @food.address %>
</p>

<p>
  <b>State:</b>
  <%= @food.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @food.zipcode %>
</p>

<p>
  <b>Phone:</b>
  <%= @food.phone %>
</p>

<p>
  <b>Latitude:</b>
  <%= @food.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @food.longitude %>
</p>


<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
