/ .panel
/   - @shows.keys.each do |date|
/     %pre= date.to_date
/   %pre= @calendar.to_yaml
%ul.small-block-grid-7#calendar
  - @calendar.each do |date, count|
    %li{ :class=> "#{date.strftime('%a day-%d month-%b year-%Y').downcase} count-#{count}" }
      - if count == 0
        &nbsp;
      - else
        = link_to "/shows/#{date}" do
          %span
            = date > (Date.today + 2.weeks) ? date.strftime("%b") : date.strftime("%a")
          = date.strftime("%d")