<p id="notice"><%= notice %></p>

<p>
  <b>Doors at:</b>
  <%= @show.doors_at %>
</p>

<p>
  <b>Price:</b>
  <%= @show.price %>
</p>

<p>
  <b>Source:</b>
  <%= @show.source %>
</p>

<p>
  <b>Starts at:</b>
  <%= @show.starts_at %>
</p>

<p>
  <b>Admittance:</b>
  <%= @show.admittance %>
</p>


<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
