- date_format = "%A, %B %e"
- time_format = "%I:%M %p"
.show
  .eight.columns
    %ul.lineup
      - @show.artists.each_with_index do |band, i|
        %li{:role=>:option}
          - if band.shows.count > 1
            %a{ :href=>"/band/#{band.key}"}
              %h3= split_on_important_stuff([band.name])
          - else
            %h3
              -split_on_important_stuff([band.name]).each do |chunk|
                %span.slabtext= chunk
  

  .four.columns
    %p.doors_at
      %span.slabtext
        %span.starts_at= "#{Time.at(@show.starts_at).strftime( date_format )}"
        %span.doors_at= "#{Time.at(@show.starts_at).strftime( time_format )}"

    %p
      %span.price= @show.price


    %p
      %a.venue{:href=>"/venues/#{@show.venue.id}"}= "@#{@show.venue.name}"
    %p.admittance= "Admittance: #{@show.admittance}" unless @show.admittance == ""

    %p.source
      %a.source.button.black{:href=>"#{@show.source}"}= "Source page"


