%html
  %head
    %title
      = [ yield(:title), "Top Denton"].reject{|x|x.nil? or x.length == 0}.join(" | ")
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"

    = csrf_meta_tags
    %meta( name="viewport" content="width=device-width, initial-scale=1.0" )

  %body
    #page
      %nav.navbar.navbar-default.navbar-inverse{role: "navigation"}
        .container
          .navbar-header
            %button.navbar-toggle{"data-target" => "#navigation", "data-toggle" => "collapse", type: "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{href: "/"} @TopDenton
          / Collect the nav links, forms, and other content for toggling
          #navigation.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li
                %a{href: "/foods"} Food
            %ul.nav.navbar-nav.navbar-right
              - if can? :view, User
                %li= link_to "Users", users_path
              %li
                - if current_user
                  = link_to signout_path do
                    Sign Out
                    = current_user.name
                    %i.fa.fa-twitter-square
                - else
                  = link_to "/auth/twitter" do
                    Sign In
                    %i.fa.fa-twitter



      - flash.each do |type, value|
        .flash{ :class => type.to_s }
          .container
            .row
              .col-xs-12
                %p= value


    = yield
    = render partial: "layouts/footer"


    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37120893-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
