%html
  %head
    %title
      BBTTXU
    %link( href='http://fonts.googleapis.com/css?family=Anton|Cherry+Cream+Soda' rel='stylesheet' type='text/css' )
    = stylesheet_link_tag "application"
    = csrf_meta_tags
    %meta( name="viewport" content="width=device-width, initial-scale=1.0" )

  %body
    #page
      #navigation-wrapper
        #navigation
          %nav.nav.top-bar
            %ul
              %li.name
                %h1
                  = active_link_to 'Denton, TX', "/"
              %li.toggle-topbar
                %a( href="#" )

            %section

              %ul.right
                %li
                  = link_to "#{@n_shows} Shows", '/shows/today'
                / %li
                /   = link_to "#{@n_venues} Venues", '/venues'
      .row#content
        = yield

        #footer
          %p
            This
            = link_to 'open-source music showlist', "https://github.com/bbttxu/denton"
            aggregates shows for Denton, TX using public data &mdash; with tangents in design and&nbsp;typography
          %h1
            = link_to(raw("@bbttxu writes code in&nbsp;Denton,&nbsp;TX"), "http://bbttxu.com/")
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37120893-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

= javascript_include_tag "application"
