%html
  %head
    %title
      BBTTXU
    %link( href='http://fonts.googleapis.com/css?family=Anton|Cherry+Cream+Soda' rel='stylesheet' type='text/css' )
    = stylesheet_link_tag "application"
    = csrf_meta_tags
    %meta( name="viewport" content="width=device-width, initial-scale=1.0" )

  %body
    #page
      #navigation-wrapper
        #navigation.contain-to-grid
          %nav.nav.top-bar
            %ul.title-area
              %li.name
                %h1
                  = active_link_to 'Denton, TX', "/"
              / %li.toggle-topbar
              /   %a( href="#" )

            %section.top-bar-section

              %ul.right
                %li
                  = link_to "Today", '/shows/today'
                %li
                  = link_to "Calendar", '/'
      .row
        .small-2.columns#prev
          %h3
            - if @prev_show
              = link_to raw("&laquo;"), "/shows/#{@prev_show.starts_at.to_date.strftime('%Y-%m-%d')}"
            - else
              = link_to raw("&laquo;"), "/"

        .small-8.columns#content
          = yield
        .small-2.columns#next
          %h3
            - if @next_show
              = link_to(raw("&raquo;"), "/shows/#{@next_show.starts_at.to_date.strftime('%Y-%m-%d')}").html_safe
            - else
              = link_to raw("&raquo;"), "/"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37120893-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

= javascript_include_tag "application"
