%html
  %head
    %title
      BBTTXU
    %link( href='http://fonts.googleapis.com/css?family=Anton|Cherry+Cream+Soda' rel='stylesheet' type='text/css' )
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta( name="viewport" content="width=device-width, initial-scale=1.0" )

  %body
    #page
      #navigation
        / %nav.nav.top-bar
        /   %ul
        /     %li.name
        /       %h1
        /         %a() BBTTXU
        /     %li.toggle-topbar
        /       %a( href="#" )

        /   %section

        /     %ul.left
        /       = li_active_link_to 'Denton, TX', "/"
        /     %ul.right
        /       %li
        /         %a{ :src => "/shows"}
        /           / %h5
        /           %span.slabtext= @n_shows
        /           %span.slabtext Shows
        /       %li
        /         / %h5
        /         %a{ :src => "/venues"}
        /           %span( class="slabtext" )= numerify @n_venues
        /           %span.slabtext Venues
        /       %li
        /         / %h5
        /         %a{ :src => "/artists"}
        /           %span( class="slabtext" )=@n_artists
        /           %span.slabtext Artists


      .row#header
        .six.columns.mobile-one
          %h1 Denton TX
        .six.columns.mobile-three
          %ul.three-up.block-grid#nav
            %li
              %h5
                %a{ :href => "/shows"}
                  %span.slabtext= @n_shows
                  %span.slabtext Shows
            %li
              %h5
                %a{ :href => "/venues"}
                  %span( class="slabtext" )= numerify @n_venues
                  %span.slabtext Venues
            %li
              %h5
                %a{ :href => "/artists"}
                  %span( class="slabtext" )=@n_artists
                  %span.slabtext Artists

      .row#content
        = yield

    #faq
      .row
        .twelve.columns
          %h3 Frequently Asked Questions
          %ul.block-grid.four-up.mobile

            %li
              %h4 What is this site about?
              %p
                I created this site because I wanted a single, easy-to-use website where I could find out what is going on in this town. There are
                %a( src="#othersites") other sites
                out there, but they require social media, or have chosen a different aesthetic than what i'd like.
              %p This site uses data sourced from publicly available websites and consolidates, or "mashes up", that info into one, mobile-accessible, place.
              %p My aim is to provied a site that is informative, while at the same time interesting to look at, though really, I'm no designer.

            %li
              %h4 Why is my venue not here?
              %p There may be a couple reasons:
              %ol
                %li I don't know about your venue
                %li You don't have a calendar
                %li Your calendar is not public
                %li Or, a combination of the three

            %li
              %h4 What can I do about that?
              %p Two things:
              %ol
                %li Let me know where I can find the information and I'll add the venue in my free time, which is when I work on this site
                %li Or, download a copy of the code and let me know when you've added the appropriate scripts to scrape the data.

            %li#othersites
              %h4 Are there other projects out there?
              %p
                There are a few, recently brought to my attention by
                %a(src="http://wedentondoit.squarespace.com/home/2012/8/31/even-more-secrets-of-denton-county.html") We denton do it
                (get it?), but as far as I know, this is the only one that is open-source...
              %ul
                %li
                  %a(src="http://www.dentr0n.com/fullindex.php") dentr0n
                %li
                  %a(src="http://showli.st/ntx") Showli.st
                %li
                  %a(src="http://www.dentonlivemusic.com/") DentonLiveMusic.com
                %li
                  %a(src="http://www.mydentonmusic.com/") MyDentonMusic

    #footer
      .row
        .twelve.columns.mobile-four
          %h1
            %a.bbttxu( href="http://twitter.com/bbttxu/")@bbttxu
            %a( href="https://github.com/bbttxu")writes code
            %a( href="http://maps.google.com/maps?q=Denton,+TX&hl=en&sll=37.0625,-95.677068&sspn=45.601981,81.298828&oq=denton&hnear=Denton,+Texas&t=m&z=12")in Denton,&nbsp;TX
